h1 {
  margin-top: 40px;
}

.example1,
.example2 {
  display: flex;
}
.example1-before,
.example1-after,
.example1-hover {
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid skyblue;
  background-color: white;
  color: skyblue;
  margin: 20px;
}
.example1-after {
  background-color: skyblue;
  color: white;
  width: 200px;
  height: 80px;
  font-size: 24px;
  font-weight: 700;
  transform-origin: center center;
  transform: translate(20px, 20px);
  -webkit-transform: translate(20px, 20px);
  -moz-transform: translate(20px, 20px);
  -ms-transform: translate(20px, 20px);
  -o-transform: translate(20px, 20px);
}
.example1-hover {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 1s;
}
.example1-hover:hover {
  background-color: skyblue;
  color: white;
  width: 200px;
  height: 80px;
  font-size: 24px;
  font-weight: 700;
  transform-origin: center center;
  transform: translate(20px, 20px);
  -webkit-transform: translate(20px, 20px);
  -moz-transform: translate(20px, 20px);
  -ms-transform: translate(20px, 20px);
  -o-transform: translate(20px, 20px);
  cursor: pointer;
}

.example2-before,
.example2-after,
.example2-hover {
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  background-color: skyblue;
  color: white;
  margin: 20px;
}
.example2-after {
  width: 300px;
  height: 80px;
  background-color: yellow;
}
.example2-hover:hover {
  animation-name: colorChange;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes colorChange {
  0% {
    background-color: skyblue;
    width: 200px;
    height: 60px;
  }
  50% {
    background-color: pink;
    width: 250px;
    height: 70px;
  }
  100% {
    background-color: yellow;
    width: 300px;
    height: 80px;
  }
}
  